@use '../abstracts/functions' as fn;
@use '../abstracts/variables' as v;

.final-cta {
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;

	&__content {
		width: 70vw;
	}
}
