#leaves-4 {
	stroke: white;
	.a,
	.c {
		fill: none;
	}
	.b {
		clip-path: url(#leaves-4-a);
	}
	.c {
		stroke: inherit;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-width: 6px;
	}
}

#leaves-3 {
	transform: rotate(180deg);
	stroke: white;
	.a,
	.c {
		fill: none;
	}
	.b {
		clip-path: url(#leaves-3-a);
	}
	.c {
		stroke: inherit;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-width: 6px;
	}
}

#icon-healthy-growth {
	fill: var(--color-primary);
	.a {
		fill: none;
	}
	.b {
		clip-path: url(#icon-healthy-growth-a);
	}
	.c {
		fill: inherit;
	}
}

#spark-icon {
	.a {
		fill: #55c0cf;
	}
	.b {
		fill: #3b3d90;
	}
	.c {
		fill: #f6b14d;
	}
	.d {
		fill: #269f6e;
	}
}

.ministry-plan {
	.three-steps-svg {
		$size: 20rem;
		width: $size;
		height: $size;

		:where(&#icon-checklist-step-1) {
			.a {
				fill: var(--color-grey--lightest);
			}
			.b {
				fill: var(--color-primary--dark);
			}
			.c {
				fill: var(--color-primary);
				stroke: var(--color-primary);
				stroke-width: 4px;
			}
			.d {
				fill: #fff;
			}
			.e {
				fill: var(--color-primary--dark);
				font-size: 33px;
				font-family: var(--font-body);
				font-weight: 700;
			}
			.f {
				filter: url(#icon-checklist-step-1-a);
			}
		}

		:where(&#icon-handshake-step-2) {
			.a {
				fill: none;
			}
			.a,
			.d {
				stroke: var(--color-primary);
				stroke-width: 2px;
			}
			.b {
				fill: var(--color-grey--lightest);
			}
			.c {
				clip-path: url(#icon-handshake-step-2-a);
			}
			.d {
				fill: var(--color-primary);
			}
			.e {
				fill: #fff;
			}
			.f {
				fill: var(--color-primary--dark);
				font-size: 33px;
				font-family: var(--font-body);
				font-weight: 700;
			}
			.g {
				filter: url(#icon-handshake-step-2-b);
			}
		}

		:where(&#icon-growth-step-3) {
			.a {
				fill: none;
			}
			.b {
				fill: var(--color-grey--lightest);
			}
			.c {
				clip-path: url(#icon-growth-step-3-a);
			}
			.d {
				fill: var(--color-primary);
			}
			.e {
				fill: #fff;
			}
			.f {
				fill: var(--color-primary--dark);
				font-size: 33px;
				font-family: var(--font-body);
				font-weight: 700;
			}
			.g {
				filter: url(#icon-growth-step-3-b);
			}
		}
	}
}
