@use './header/hamburger';
@use './header/navbar';
@use './header/offcanvas';

.header {
	position: absolute;
	z-index: 900;
	width: 100%;
	background-color: transparent;
	color: white;

	.row {
		justify-content: space-between;
	}

	a {
		color: white;
	}
}
