@use './header/hamburger';
@use './header/offcanvas';
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.header {
	z-index: 5;

	.btn__primary--fill {
		flex-shrink: 0;
		margin-right: 55%;
	}
}
