%slides {
	margin-left: 4rem;
	margin-right: 4rem;
	padding: 5rem;
}
.swiper {
	cursor: grab;
}

#testimonials-swiper {
	.swiper-slide {
		@extend %slides;
	}

	.swiper-button-next,
	.swiper-button-prev {
		color: var(--color-primary);
	}

	.swiper-pagination-bullet-active {
		background-color: var(--color-primary);
	}
}

#staff-swiper {
	.swiper-slide {
		@extend %slides;
	}

	.swiper-button-next,
	.swiper-button-prev {
		color: var(--color-primary);
	}

	.swiper-pagination-bullet-active {
		background-color: var(--color-primary);
	}
}
