@import url('https://use.typekit.net/yfb4lum.css');

/* ////////////
// TYPOGRAPHY
///////////// */
$font-headings: sans-serif;
$font-body: 'poppins', sans-serif;

/* //////////
// COLORS
/////////// */

$color-green: #0f7b61;
$color-green--light: #139e7e;
$color-green--dark: #085642;

$color-orange--light: #e57005;

// set arbitrary, initial props so theme doesn't break
$color-primary: $color-green;
$color-primary--light: $color-green--light;
$color-primary--dark: $color-green--dark;
$color-secondary: $color-orange--light;

/* //////////
// MISC.
/////////// */
$transition--standard: 0.3s ease;
