@use '../../abstracts/mixins' as m;
@use '../../abstracts/variables' as v;

.hero {
	position: relative;
	padding-top: 15.6rem;
	padding-bottom: 4rem;
	min-height: 80rem;
	display: block;
	height: unset;

	&__background {
		@include m.background-layers;

		&--color {
			background-color: var(--color-spark-yellow);
		}

		&--lower {
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}

		&--upper {
			background-color: rgba(black, 0.65);
		}

		&.color-right {
			.hero__background--color {
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 90%);
			}
			.hero__background--lower {
				clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
			}
			.hero__background--upper {
				clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
			}
		}

		&.color-left {
			.hero__background--color {
				clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
			}
			.hero__background--lower {
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 90%);
			}
			.hero__background--upper {
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 90%);
			}
		}
	}

	&__content {
		z-index: 4;

		&--leaves {
			position: absolute;
			top: -5rem;
			left: -10rem;
			width: 10rem;
			transform: rotateZ(180deg);
			transform-origin: center;
		}

		&--headline {
			color: white;
			// letter-spacing: 1.8;
			font-family: v.$font-roie;
		}

		&--subheadline {
			font-size: 4rem;
			color: white;
		}

		&--btn {
			display: block;
			align-self: flex-start;
		}
	}
}
