@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../components/content-sections/core-services';

.image-callout {
	&__background {
		@include m.background-layers;
		&--color {
			background-color: var(--color-primary);
		}
	}
	&__content {
		position: relative;
		z-index: 5;
		#leaves-3 {
			position: absolute;
			top: -14rem;
			right: 0;
		}
	}
}
