@use 'sass:color';
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;
@use '../components/content-sections/final-cta/erc';

.erc-comparisons {
	&__background {
		@include m.background-layers($opacity: 0.5);

		&--color {
			background-color: var(--color-erc-purple);
		}
	}

	&__content {
		#leaves-3 {
			--size: 12rem;
			width: var(--size);
			height: var(--size);
			position: absolute;
			transform: rotate(0) scaleY(-1);
			top: -4rem;
			left: 28rem;
		}
	}
	%list_headline {
		font-size: 1.5em;
	}
	&__list-1 {
		&--headline {
			@extend %list_headline;
			color: var(--color-erc-blue);
		}
	}

	&__list-2 {
		&--headline {
			@extend %list_headline;
			color: var(--color-grey--lightest);
		}

		&--item {
			color: var(--color-grey--lightest);
		}
	}
}
