@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;
@use '../components/swipers/brands';
@use '../components/swipers/testimonials';
@use '../components/content-sections/core-services';

@mixin full-size {
	height: 100%;
	width: 100%;
}
.hero {
	&__content {
		&--subheadline {
			color: var(--color-primary);
			font-size: 1.5em;
			line-height: 1.5;
		}
	}
}

.top-talent-groups {
	padding: 6.5rem 0;
	.icon {
		@include m.displayFlex(column, $cross: center);

		&__svg {
			$size: 15rem;
			width: $size;
			height: $size;
			margin-bottom: 2rem;
		}
		&__label {
			color: var(--color-grey);
			font-size: 2em;
			text-align: center;
			font-weight: 700;
		}
	}
}

.stakes {
	$frame-left: 49%;
	$frame-right: 86%;
	$frame-top: 34%;
	$frame-bottom: 90%;

	$static-top-left: 0% 0%;
	$static-top-right: 0% 100%;
	$static-bottom-right: 100% 100%;
	$static-bottom-left: 100% 0%;
	$static-alignment: $frame-left 100%;

	$frame-top-left: $frame-left $frame-top;
	$frame-top-right: $frame-right $frame-top;
	$frame-bottom-left: $frame-left $frame-bottom;
	$frame-bottom-right: $frame-right $frame-bottom;

	$window: polygon(
		$static-top-left,
		$static-top-right,
		$static-alignment,
		$frame-top-left,
		$frame-right $frame-top,
		$frame-bottom-right,
		$frame-bottom-left,
		$static-alignment,
		$static-bottom-right,
		$static-bottom-left
	);
	&__background {
		@include m.background-layers;

		&--color {
			background-color: var(--color-primary--dark);
		}

		&--upper {
			background-color: rgba(black, 0.35);
		}
	}

	&__content {
		position: relative;
		z-index: 4;
		clip-path: $window;

		&--background {
			background-color: #fef1db;
			border-radius: 1rem;
			padding: 3rem;

			.mask {
				background-color: transparent;
				mask-clip: border-box;
			}
		}
	}

	.swiper {
		height: 45rem;
		&-stakes-pagination {
			&-bullet-active {
				background-color: var(--color-primary);
			}
		}
	}
}

.selling-points {
	&__figures {
		position: relative;
		img {
			width: 100%;
			max-height: 40rem;
			object-fit: contain;
		}

		.script-values {
			@include m.displayFlex(column);
			position: absolute;
			top: 50%;
			left: 65%;

			&__value {
				width: auto;
				height: 7rem;
			}
		}
	}

	&__underlines {
		width: 100%;

		%lines {
			border-width: 2px;
			border-style: solid;
			border-radius: 5px;
			opacity: 1;
			width: 100%;
		}
		&--line-1 {
			@extend %lines;
			border: v.$color-grey--light;
		}
		&--line-2 {
			@extend %lines;
			border-color: v.$color-primary;
		}
	}
}

.the-plan {
	&__content {
		width: 60%;
		margin-bottom: 3rem;
		span {
			display: block;
			margin: 2rem auto 4rem auto;
		}
	}

	.scroll-reveal {
		&__item {
			@include m.displayFlex($cross: center, $wrap: nowrap);
			gap: 2rem;
			padding: 2rem;

			&:not(:last-child) {
				border-bottom: 2px solid white;
			}

			&:nth-child(1) {
				width: 70%;
			}

			&:nth-child(2) {
				width: 60%;
			}

			&:nth-child(3) {
				width: 60%;
			}

			.headline {
				display: block;
				margin-left: 2rem;
			}
		}
	}
}
