@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;
@use '../components/content-sections/core-services';
@use '../components/content-sections/three-steps';
@use '../components/equipment';

.hero {
	&__content {
		&--subheadline {
			font-size: 2.5rem;
			line-height: 1.8;
		}
	}
}

%leaves-4_base {
	stroke: var(--color-primary);
	fill: none;
	--size: 8rem;
	width: var(--size);
	height: var(--size);

	@include m.media-breakpoint-up(xxl) {
		--size: 10rem;
	}
}

.costs {
	#leaves-4 {
		@extend %leaves-4_base;
		position: absolute;
		transform: rotate(0deg) scaleY(-1);
		z-index: 4;
		top: -3rem;
		right: 0rem;

		@include m.media-breakpoint-up(xl) {
			top: -6rem;
			right: -8rem;
		}
	}

	&__image {
		&--image {
			aspect-ratio: 4 / 3;
			object-fit: cover;
		}
	}
}
