@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;
@use '../components/content-sections/core-services';
@use '../components/content-sections/three-steps';
@use '../components/equipment';

.hero {
	&__content {
		&--subheadline {
			font-size: 2.5rem;
			line-height: 1.8;
		}
	}
}

%leaves-4_base {
	stroke: var(--color-primary);
	fill: none;
	--size: 8rem;
	width: var(--size);
	height: var(--size);

	@include m.media-breakpoint-up(xxl) {
		--size: 10rem;
	}
}

.costs {
	#leaves-4 {
		@extend %leaves-4_base;
		position: absolute;
		transform: rotate(0deg) scaleY(-1);
		z-index: 4;
		top: -3rem;
		right: 0rem;

		@include m.media-breakpoint-up(xl) {
			top: -6rem;
			right: -8rem;
		}
	}

	&__image {
		&--image {
			aspect-ratio: 4 / 3;
			object-fit: cover;
		}
	}
}

.problem-areas {
	.headline {
		letter-spacing: initial;
	}
}
.hr-services {
	&__background {
		@include m.background-layers;

		&--color {
			background-color: var(--color-primary--darkest);
		}
	}
	&__grid {
		position: relative;
		z-index: 5;
		display: grid;
		gap: 2rem;
		place-content: center;
		place-items: center stretch;
		grid-template-columns: repeat(1, 1fr);

		@include m.media-breakpoint-up(md) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include m.media-breakpoint-up(lg) {
			grid-template-columns: repeat(3, 1fr);
		}

		& > * {
			@include m.displayFlex(column, center, stretch);
			height: 100%;
			border: 2px solid white;
			border-radius: 2rem;
			padding: 2rem;
			background-color: white;
		}

		svg {
			margin-bottom: 2rem;
		}

		h3 {
			margin-bottom: 2rem;
		}

		ul {
			margin: 0;
		}
	}
}
