@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;
@use '../components/content-sections/final-cta/about';
@use '../components/meet-with-us';

%leaves-4_base {
	stroke: var(--color-primary);
	fill: none;
	--size: 8rem;
	width: var(--size);
	height: var(--size);

	@include m.media-breakpoint-up(xxl) {
		--size: 18rem;
	}
}

.empathy {
	#leaves-4 {
		@extend %leaves-4_base;
		position: absolute;
		transform: rotate(0deg) scaleY(-1);
		z-index: 4;
		top: -3rem;
		right: 2rem;
		@include m.media-breakpoint-up(xl) {
			top: -6rem;
			right: -2rem;
		}
	}

	&__image {
		height: 40rem;

		&--image {
			aspect-ratio: 1;
			object-fit: cover;
			object-position: center bottom;
		}
	}
}

.authority {
	&__image {
		&--image {
			aspect-ratio: 1;
			width: 100%;
			object-fit: cover;
			object-position: center bottom;
		}
	}
	&__content {
		.headline {
			width: 60vw;
			@include m.media-breakpoint-up(sm) {
				width: auto;
			}
		}
		#leaves-4 {
			@extend %leaves-4_base;
			position: absolute;
			transform: rotate(0deg) scale(-1);

			top: 0rem;
			right: 10rem;
			@include m.media-breakpoint-up(sm) {
				top: -7rem;
				right: 0;
			}
			@include m.media-breakpoint-up(md) {
				top: -6rem;
				right: 10rem;
				--size: 12rem;
			}
			@include m.media-breakpoint-up(lg) {
				top: -6rem;
				right: unset;
				left: -10rem;
			}
			@include m.media-breakpoint-up(xxl) {
				--size: 18rem;
			}
		}
	}
}

.choose-one {
	&__background {
		@include m.background-layers($opacity: 0.75);
		transform: scaleX(-1);

		&--color {
			background-color: var(--color-primary);
		}
	}

	&__content {
		margin-top: 10rem;
		margin-bottom: 5rem;
		overflow-x: hidden;

		@include m.media-breakpoint-up(xxl) {
			margin-top: 30rem;
		}

		#status-quo-sign {
			height: 20rem;

			@include m.media-breakpoint-up(lg) {
				height: unset;
			}
			.a {
				fill: none;
			}
			.b {
				clip-path: url(#status-quo-sign-a);
			}
			.c {
				fill: var(--color-primary);
			}
		}

		#leaves-3 {
			position: absolute;
			transform: rotate(-60deg);
			--size: 10rem;
			width: var(--size);
			height: var(--size);
			top: -8rem;
			left: 28rem;

			@include m.media-breakpoint-up(sm) {
				--size: 10rem;
			}

			@include m.media-breakpoint-up(md) {
				left: 58rem;
			}
		}
	}
}

.meet-with-us {
	&__headline {
		color: var(--color-primary--dark);
	}
}

.values {
	&__background {
		@include m.background-layers($opacity: 0.75);

		&--color {
			background-color: var(--color-primary);
		}
	}

	&__content {
		&--header {
			#leaves-3 {
				--size: 8rem;
				width: var(--size);
				height: var(--size);
				position: absolute;
				transform: rotate(-60deg);
				stroke: var(--color-primary);
				top: -6rem;
				right: 0rem;
				display: none;

				@include m.media-breakpoint-up(sm) {
					--size: 10rem;
					display: block;
					left: 41rem;
					right: unset;
				}
				@include m.media-breakpoint-up(md) {
					--size: 12rem;
					left: 50rem;
				}
				@include m.media-breakpoint-up(lg) {
					top: -8rem;
					left: 62rem;
				}
				@include m.media-breakpoint-up(xl) {
					left: 70rem;
				}
				@include m.media-breakpoint-up(xxl) {
					left: 78rem;
				}
			}
		}
	}

	%value_icon_base {
		fill: white;
		stroke: #fff;
		.a {
			fill: inherit;
		}
		.b {
			fill: none;
			stroke: inherit;
			stroke-width: 4px;
		}
	}

	.value-icon {
		@extend %value_icon_base;
		--size: 15rem;
		width: var(--size);

		@include m.media-breakpoint-up(lg) {
			width: unset;
		}
	}
}

.staff {
	#leaves-3 {
		$size: 10rem;
		width: $size;
		height: $size;
		stroke: var(--color-primary);
	}
}
