@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../components/content-sections/core-services';
@use '../components/content-sections/three-steps';
@use '../components/content-sections/final-cta/about';

.btn__primary--fill {
	background-color: var(--color-spark-yellow);

	&:hover {
		border-color: var(--color-spark-yellow);
		color: var(--color-spark-yellow);
	}
}

.k1-icon {
	&#handshake {
		.a {
			fill: none;
		}
		.a,
		.c {
			stroke: var(--color-spark-yellow);
			stroke-width: 2px;
		}
		.b {
			clip-path: url(#handshake-a);
		}
		.c {
			fill: var(--color-spark-yellow);
		}
	}
	&#prescreening {
		.a {
			fill: var(--color-spark-yellow);
		}
	}

	&#onboarding {
		.a,
		.b {
			fill: none;
			stroke: var(--color-spark-yellow);
			stroke-width: 3px;
		}
		.a {
			stroke-linecap: round;
			stroke-linejoin: round;
		}
		.b {
			stroke-miterlimit: 10;
		}
	}
}

.quality-candidates {
	svg {
		--size: 10rem;
		width: var(--size);
		height: var(--size);
	}
}

.help {
	&__background {
		@include m.background-layers;

		&--color {
			background-color: var(--color-erc-purple);
		}
	}

	#leaves-3 {
		--size: 15rem;
		width: var(--size);
		height: var(--size);
		position: absolute;
		transform: rotate(0deg) scaleY(-1);
		top: -5rem;
		left: 55rem;
	}
}

.core-services {
	.pill-btn__fill--primary {
		background-color: var(--color-spark-yellow);

		&:hover {
			background-color: transparent;
			border-color: var(--color-spark-yellow);
			color: var(--color-spark-yellow);
		}
	}
}

.ministry-plan {
	.three-steps-svg {
		&#icon-checklist-step-1 {
			.e {
				fill: var(--color-spark-yellow);
			}
			.b {
				fill: var(--color-erc-purple);
			}
			.c {
				fill: var(--color-erc-blue);
				stroke: var(--color-erc-blue);
			}
		}
		&#icon-handshake-step-2,
		&#icon-growth-step-3 {
			.d {
				stroke: var(--color-erc-blue);
				fill: var(--color-erc-blue);
			}
			.f {
				fill: var(--color-spark-yellow);
			}
		}
	}

	h3 {
		color: var(--color-spark-yellow);
	}

	span {
		color: var(--color-grey);
	}
}
