@use './abstracts';

.testimonials {
	.swiper {
		max-height: 80rem;
	}

	.swiper-pagination-bullet-active {
		background-color: var(--color-primary);
	}

	.swiper-button-next,
	.swiper-button-prev {
		color: var(--color-primary);
	}

	&__headshot {
		object-fit: cover;
		--size: 15rem;
		border-radius: 50%;
		width: var(--size);
		height: var(--size);
	}

	&__ministry-logo {
		max-height: 10rem;
		max-width: 90%;
	}
}
