@use '../../abstracts/functions' as fn;
@use '../buttons';

#main-nav {
	display: none;
}
.navbar {
	align-items: center;

	a {
		transition: fn.transition(all);
		text-decoration: none;

		&:not(:has(h1)) {
			text-transform: uppercase;
		}
	}

	&__menu {
		list-style: none;
		padding: unset;
	}
}

.menu-item {
	padding: 10px;
	margin: 0 10px;
	display: inline-block;
	border-bottom: 2px solid transparent;
	transition: fn.transition(border-color);
	color: white;
	text-align: center;
	color: var(--color-primary--dark);
	font-weight: bold;

	&:hover,
	&:active,
	&:focus {
		color: var(--color-primary);
		border-color: var(--color-primary);
		cursor: pointer;
	}

	a {
		color: inherit;
	}

	&.cta {
		@extend .btn__primary--fill;
	}
}
