@use '../abstracts/mixins' as m;

%standard-border {
	border: 2px solid var(--color-primary--dark);
	border-radius: 1rem;
}
.hero {
	@include m.media-breakpoint-up(lg) {
		min-height: 30vw;
	}
}

article.single {
	> p {
		word-wrap: break-word;
	}
}
.single {
	&__container {
		@extend %standard-border;
		@include m.box-shadow($opacity: 0.2);
	}
}

.meta {
	@extend %standard-border;
	position: sticky;
	top: 0;
}
